.d_conteneur_rubrique{
  width:100%;
  color: #2a303b;
  background-color: #f5f6f8;
  border-left: 5px solid #DBE1E6;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin:15px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: "Marr Sans",Helvetica,Arial,Roboto,sans-serif;
  font-size: 1.5rem;
  line-height: 2.6rem;
}
.d_conteneur_rubrique > p{
  margin-top: 2rem!important;
}
.d_conteneur_rubrique .d_conteneur_rubrique_left{
  float:left;
  margin:0 4% 0 0%;
  width:16%;
}
.d_conteneur_rubrique .d_conteneur_rubrique_left img, .d_conteneur_rubrique .d_conteneur_rubrique_left a{
  border:0!important;
}
.d_conteneur_rubrique .d_conteneur_rubrique_left img{
    width: auto;
}
.d_conteneur_rubrique .d_conteneur_rubrique_right{
  float:left;
  width:78%;
}
.d_conteneur_rubrique_right a{
  font-weight: 600;
  text-decoration: none!important;
  border-bottom: 1px dotted #2a303b!important;
}
.d_conteneur_rubrique_right a:hover{
  border-bottom: 1px solid #2a303b!important;
}
.d_conteneur_rubrique break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}
.d_conteneur_rubrique_bottom{
  margin:16px 0 0 20px;
}
.d_conteneur_rubrique_bottom ul, .d_conteneur_rubrique_bottom ul li{
  margin:0;
  padding:0;
  list-style-type: disc;
}
@media screen and (max-width: 500px) {
    .d_conteneur_rubrique {
      padding: 1.5rem 1rem;
    }
    .d_conteneur_rubrique .d_conteneur_rubrique_left{
      width:22%;
    }
    .d_conteneur_rubrique .d_conteneur_rubrique_right{
      width:72%;
    }
}